table caption{font-weight: bold; padding: 2px; font-family: Monospace; font-size: 110%;}
td,th{padding:1px 0.5em 1px 0.5em;}
table{font-size: 90%; margin-bottom: 1em; border-collapse:collapse; width: 100%; border-top: solid 1px #999; border-left: solid 1px #999; border-right: Solid 1px #666; border-bottom: Solid 1px #333; clear: both;}
th{white-space:nowrap;}
td{ border: dotted 1px #999; vertical-align: middle;}
