/* 
    Document   : typography
    Created on : Aug 16, 2010, 4:07:04 PM
    Author     : Nik Petersen
    Description:
        For defining base text/type styles, as well as standard markup styles.

    Credits: BlueprintCSS project for setting most of the base styles.
*/
/* Default font settings.
The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html {
  font-size: 16px; }

body {
  font-size: 75%;
  color: #222;
  background: #fff;
  font-family:Georgia,Utopia,Palatino,'Palatino Linotype',serif;
  line-height: 1.25; }

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #111;
  margin-bottom: 0.5em;
  clear: both; }

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1.15em;
  font-weight: bold; }

h6 {
  font-size: 1.05em;
  font-weight: bold; }

article h1 {
  font-size: 2.5em; }
article h2 {
  font-size: 1.75em; }
article h3 {
  font-size: 1.3em;}
article h4 {
  font-size: 1.2em; }
article h5 {
  font-size: 1.1em;
  font-weight: bold; }
article h6 {
  font-size: 1.05em;
  font-weight: bold; }
article section h1, article aside h1 {
  font-size: 2em; }
article section h2, article aside h2 {
  font-size: 1.5em; }
article section h3, article aside h3 {
  font-size: 1.2em; }
article section h4, article aside h4 {
  font-size: 1.15em; }
article section h5, article aside h5 {
  font-size: 1.05em; }
article section h6, article aside h6 {
  font-size: 1em; }
article article h1 {
  font-size: 1.75em; }
article article h2 {
  font-size: 1.25em; }
article article h3 {
  font-size: 1.2em; }
article article h4 {
  font-size: 1.15em; }
article article h5 {
  font-size: 1.05em; }
article article h6 {
  font-size: 1em; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/* Text elements
-------------------------------------------------------------- */
p {
  margin: 0 0 1em 0; }
  p > img.left {
    float: left;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0; }
  p > img.right {
    float: right;
    margin: 0.5em 0 0.5em 0.5em; }

a {
  color: #009;
  text-decoration: underline; }
  a:focus, a:hover {
    color: #000; }

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

dfn {
  font-style: italic;
  font-weight: bold; }

sup, sub {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted #666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666; }

pre {
  margin: 1.5em 0;
  white-space: pre;
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/* Lists
-------------------------------------------------------------- */
li ul, li ol {
  margin: 0; }

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dt { font-weight: bold; text-decoration: underline; margin-bottom: 0.5em; }
dd { margin: 0; padding: 0 0 0.5em 1em; }
/* Tables
-------------------------------------------------------------- */
table {
  margin-bottom: 1.4em;
  width: 100%;
  border-collapse: collapse; }

th {
  font-weight: bold; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 4px 10px 4px 5px;
  vertical-align: middle; }

tfoot {
  font-style: italic; }

caption {
  background: #eee; }

tbody td {
  background-color: #eef;
  padding: 0 5px;
  border: 1px solid white; }
tbody tr:nth-child(2n) td {
  background-color: #eee; }

